@using ViewMyAssetDev.ViewModels;
@model RegisterViewModel;

@{
    ViewData["Title"] = "회원가입";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="account-container">
    <div class="account-box">
        <h2 class="text-center mb-4">회원가입</h2>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="PhoneNum" class="form-label">휴대전화번호</label>
                <input id="PhoneNumInput" asp-for="PhoneNum" class="form-control" placeholder="휴대전화번호" />
                <button type="button" id="sendVerificationBtn" asp-action="SendVerification" asp-route-phoneNum="" class="btn btn-light">인증</button>
                <span asp-validation-for="PhoneNum" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="UserId" class="form-label">아이디</label>
                <input asp-for="UserId" class="form-control" placeholder="아이디" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label">비밀번호</label>
                <input asp-for="Password" class="form-control" placeholder="비밀번호" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ConfirmPassword" class="form-label">비밀번호 확인</label>
                <input asp-for="ConfirmPassword" class="form-control" placeholder="비밀번호 확인" type="password" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <input type="submit" asp-action="Register" value="회원가입" class="btn btn-primary w-100 p-2" />
            <p class="text-center mt-3">
                이미 계정이 있으신가요? <a class="text-decoration-none" asp-controller="Account" asp-action="Login">로그인</a>
            </p>
            <div class="text-center">
                <a asp-controller="Home" asp-action="Index" class="text-decoration-none mt-3">뒤로가기</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}